body {
    font-family: sans-serif;
}

h1  {
    font-size: 72px;
    vertical-align: middle;
    text-align: center;
    top: 50%;
    right: 50%;
    position: fixed;
}

.container {
    position: absolute;
    height: 300vh;
    width: 100vw;
    /* background-color: grey; */
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}